---
import Layout from "../layouts/Layout.astro";
import RightSidebar from "../components/RightSidebar";
import LeftSidebar from "../components/LeftSidebar";
import Feed from "../components/Feed";
const title = "AceCriollo";
---

<Layout title={title}>
	<div class="flex justify-between w-[80%] mx-auto">
		<LeftSidebar />
		<Feed />
		<RightSidebar />
	</div>
</Layout>
