---
import { Icon } from "astro-icon/components";
import SidebarItem from "./SidebarItem.astro";
// const Sidebar = () => {
//   const items = [
//     {
//       label: "Home",
//       href: "/",
//       icon: icon-[lucide--home],
//     },
//   ];
// };
---

<div>
  <SidebarItem name="hola" />
</div>
div
div