---
import Layout from "../layouts/Layout.astro";
import RightSidebar from "../components/RightSidebar.astro";
import LeftSidebar from "../components/LeftSidebar.astro";
import Feed from "../components/Feed.astro";
const title = "AceCriollo";
---

<Layout title={title}>
    <div class="flex justify-between w-[80%] mx-auto">
        <LeftSidebar />
        <Feed />
        <RightSidebar />
    </div>
</Layout>
