---
import Layout from "../layouts/Layout.astro";
import Logo from "../icons/logobig.svg";

const title = "Login";
---

<Layout title={title}>
    <div class="w-screen h-screen flex items-center justify-center">
        <div class="flex items-center justify-evenly w-[80%]">
            <div>
                <img class="h-[180px] mr-5" src={Logo.src} alt="Ace-Criollo-Logo" />
            </div>
            <div>
                <div>
                    <h1 class="font-bold text-6xl">Happening now.</h1>
                </div>
                <h1>Iniciar Sesión</h1>
                <form class="flex flex-col w-[50%]">
                    <input class="text-fc outline-greeno border border-white px-4 py-1 rounded-full" type="text" placeholder="Nombre" />
                    <input type="text" placeholder="Usuario" />
                    <input type="text" placeholder="Email" />
                    <input type="text" placeholder="Password" />
                </form>
            </div>
        </div>
    </div>
</Layout>
