---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/src/icons/icon.svg" />
</head>
<body class="">
    <slot />
</body>
<style>
    * {
        color: aliceblue;
    }
    html {
        @apply bg-gradient-to-r from-bg1 to-bg2;
    }
</style>
